body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: left;
  justify-content: center;
  margin: 20px;
}


.fwidth{
  width: calc(100% - 40px);
}