body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  width: calc(100vw - 40px) !important;
  width: 100vw;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  padding: 20px;
  min-width: 1150px;
}

.boxWrapper {
  margin: 24px;
  margin-bottom: 48px;
  padding: 24px;
  width: calc(100% - 120px);
  padding-bottom: 150px;
  overflow: scroll !important;
  /* position: relative; */
}

.carbon-dropdown{
  max-width: 400px;
  min-width: 250px;
}

.rowItemSpacer{
  padding-left: 12px;
  padding-right: 12px;
}

.noWrap{
  white-space: nowrap;
  margin: auto;
}

.whiteBg{
  background-color: white;
}

.tipSeenInBox{}

.subtext, text{
  margin: 0 8px 8px 8px;
  size: 14px;
  color: #676879;
  line-height: 22px;
  font-style: italic;
}

.actionBoxesContainer{
  font-size: 0.85rem;
  max-width: 30vw;
}

.actionBoxesContainer div{
  padding: 5px;
}


div.actionBoxesContainer p{
  margin: 0;
  padding: 0 5px 5px 10px;
}

.Box{
  background-color: #ffffff
}

@media only screen and (max-width: 1150px) {
  body{
  transform: scale(0.85);
  margin-top: -100px;
}
}

@media (prefers-color-scheme: dark) {
  .App, h1, h2, h3, text, p, input, text{
  color: #cccccc !important
}

.Box{
  background-color: #0b0d27
}

.whiteBg{
  background-color: rgba(0,0,0,0);
}


}
