body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: left;
  justify-content: center;
  padding: 20px;
}

.boxWrapper {
  min-height: 200px;
  margin: 24px;
  margin-bottom: 48px;
  padding: 18px;
  width: calc(100% - 120px);
  padding-bottom: 150px;
  overflow: scroll !important;
  /* position: relative; */
}

.carbon-dropdown{
  max-width: 400px;
  min-width: 250px;
}
